.footer {
  padding: 20px;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  columns: #012979;
}

.footer .socials {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer .socials a {
  font-size: 20px;
  color: black;
}