/*----------------------------------  
#Header
----------------------------------*/

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background-color: whitesmoke;
  box-shadow: 0 2px 20px rgba(1, 21, 112, 0.1);
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: rgb(1, 41, 112);
}